.equation {
  font-size: 6vw;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  width: 100%;
}

.output {
  font-size: 16vw;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}